@import "reset";
@import "variables";
@import "mixins";
@import "normalize";
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2");
}
/* poppins-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2");
}

// Global
* {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins";
  margin: 0;
}
.container {
  @include container;
  .left {
    .burger-btn {
      position: fixed;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      justify-content: space-between;
      align-items: stretch;
      display: none;
      z-index: 99999;
      right: 30px;
      span {
        display: block;
        height: 4px;
        width: 28px;
        background: #9e9aa8;
        -webkit-transition: 0.4s ease-in;
        -o-transition: 0.4s ease-in;
        transition: 0.4s ease-in;
        opacity: 1;
      }
    }
    .burger-btn.open span:first-child {
      transform: rotate(45deg) translateY(13px);
    }
    .burger-btn.open span:nth-child(2) {
      transform: translateX(30px);
      opacity: 0;
    }
    .burger-btn.open span:last-child {
      transform: rotate(-45deg) translateY(-13px);
    }
  }
}
.btn {
  @include btn;
  display: inline-block;
  transition: 0.3s ease-in-out;
  &:hover {
    background: #9ae3e3;
    border-radius: 28px;
    color: #ffffff;
  }
}
.mobil-menu {
  display: none;
}

// HEADER STYLE START
.site-header {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #fff;
  .container {
    display: flex;
    align-items: center;
  }
  .left {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-right: auto;
    .site-logo {
      display: block;
      .site-nav-img {
        width: 121px;
        height: 33px;
        object-fit: cover;
      }
    }
    .sitenav {
      .sitenav__list {
        display: flex;
        gap: 30px;
        .sitenav__item {
          list-style: none;
          .sitenav__link {
            color: $gColor;
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            text-decoration: none;
            transition: 0.3s ease-in-out;
            &:hover {
              color: $dColor;
            }
          }
        }
      }
    }
  }
  .right {
    display: flex;
    gap: 37px;
    align-items: center;
    .login {
      color: $gColor;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      text-decoration: none;
      transition: 0.3s ease-in-out;
      &:hover {
        color: #34313d;
      }
    }
    .sign-up {
      text-decoration: none;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: #ffffff;
      background: $bColor;
      border-radius: 28px;
      padding: 9px 23px 8px 24px;
      transition: 0.3s ease-in-out;
      &:hover {
        background: #9ae3e3;
        border-radius: 28px;
        color: #ffffff;
      }
    }
  }
}

// HEADER STYLE END

// HERO SECTION STYLE START
.hero {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 50px;
  background-color: #fff;
  position: relative;
  z-index: 9;
  overflow: hidden;
  .container {
    display: flex;
  }
  .hero__info {
    .hero__title {
      max-width: 575px;
      font-weight: 700;
      font-size: 80px;
      line-height: 90px;
      letter-spacing: -2px;
      color: $dColor;
    }
    .hero__text {
      max-width: 540px;
      color: $gColor;
      font-size: 22px;
      line-height: 36px;
      font-weight: 500;
      width: 80%;
      margin-bottom: 38px;
    }
    .hero__btn {
      display: inline-block;
      .hero__btn__item {
        display: block;
        text-decoration: none;
        padding: 14px 40px;
        color: #ffffff;
      }
    }
  }
  .hero__img {
    width: 733px;
    height: 482px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

// HERO SECTION STYLE END

// SHORTEN SECTION STYLE START
.shorten {
  background: linear-gradient(
    #ffffff 0%,
    #ffffff 50%,
    #f2f2f2 51%,
    #f2f2f2 100%
  );
  position: relative;
  z-index: 9;
  .wrap {
    margin-left: 20px;
    margin-right: 20px;
    .container {
      background-color: $sColor;
      border-radius: 10px;
      background-image: url(../images/shorten-backroung_img.svg);
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      padding-top: 52px;
      padding-bottom: 52px;
      form {
        display: flex;
        gap: 24px;
        justify-content: center;
        // flex-direction: column;
        div {
          display: block;
          //   text-align: center;
          width: 100%;
        }
        .input {
          width: 100%;
          height: 64px;
          background: #ffffff;
          border-radius: 10px;
          padding: 0 32px;
          font-size: 20px;
          font-weight: 500;
        }
        .submit {
          width: 188px;
          height: 64px;
          color: #ffffff;
          font-weight: 700;
          font-size: 20px;
          background: $bColor;
          border-radius: 10px;

          &:hover {
            background: #9ae3e3;
            border-radius: 10px;
            color: #ffffff;
          }
        }
      }
    }
  }
}

// SHORTEN SECTION STYLE END

// SHORTEN LINK SECTION STYLE START
.shorten__link {
  padding-top: 24px;
  background-color: $oColor;
  .shorten__list {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    gap: 24px;
    .shorten__list__item {
      background-color: #fff;
      padding: 16px 24px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      .link {
        margin-right: auto;
        color: $dColor;
        font-size: 20px;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.15px;
      }
      .short-link {
        margin-right: 24px;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        text-align: right;
        letter-spacing: 0.15px;
        color: $bColor;
      }
      .copy-btn {
        width: 103px;
        height: 40px;
        border-radius: 5px;
        background-color: $bColor;
        color: #ffffff;
        font-weight: 700;
        transition: 0.3s ease-in-out;
        &:hover {
          background: #9ae3e3;
          border-radius: 5px;
          color: #ffffff;
        }
      }
    }
  }
}

// SHORTEN LINK SECTION STYLE END

// STATISTIK LINK SECTION STYLE START
.statistick {
  padding-top: 100px;
  background-color: $oColor;
  padding-bottom: 120px;
  .statistick__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: $dColor;
  }
  .statistick__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.122727px;
    color: $gColor;
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 95%;
      height: 8px;
      top: 49%;
      background-color: $bColor;
      z-index: 1;
    }
    .card {
      width: 350px;
      background-color: #fff;
      border-radius: 5px;
      position: relative;
      padding: 77px 32px 41px 32px;
      z-index: 9;
      &:nth-child(2) {
        margin-top: 44px;
      }
      &:last-child {
        margin-top: 88px;
      }
      .card__img {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #3a3054;
        border-radius: 50%;
        width: 88px;
        height: 88px;
        position: absolute;
        -ms-transform: translateY(100%);
        top: 0;
        text-align: center;
        right: 0;
        transform: translateY(-50%);
        left: 37px;
      }
      .card__title {
        color: #34313d;
        font-size: 22px;
        line-height: 33px;
        font-weight: 700;
        margin-bottom: 12px;
      }
      .card__text {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.7;
        color: $gColor;
      }
    }
  }
}

// STATISTIK LINK SECTION STYLE END

// FOOTER STYLE START
.footer {
  .motto {
    background-image: url(../images/boost-bagkground.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 57px 0;
    text-align: center;
    .motto__title {
      font-size: 40px;
      color: #ffffff;
      font-weight: 700;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 32px;
    }
    .btn {
      display: inline-block;
      text-align: center;
      padding: 14px 40px 12px 40px;
      .motto__btn {
        color: #ffff;
      }
    }
  }
  .end {
    padding: 70px 0;
    background-color: $dfColor;
    .container {
      display: flex;
      justify-content: space-between;
      .footer-nav {
        display: flex;
        gap: 80px;
        .menu {
          display: flex;
          flex-direction: column;
          a {
            color: $kColor;
            font-weight: 500;
            line-height: 22px;
            transition: 0.3s ease-in-out;
            &:not(:last-child) {
              margin-bottom: 10px;
            }
            &:hover {
              color: $bColor;
            }
          }
        }
      }
      .menu__title {
        color: #ffffff;
        margin-bottom: 22px;
        font-size: 16px;
      }
      .icons {
        display: flex;
        gap: 24px;
        a {
          text-decoration: none;
          color: inherit;
          fill: #fff;
          svg path:hover {
            transition: 0.3s ease-in-out;
            fill: $bColor;
          }
        }
      }
    }
  }
}

// FOOTER STYLE END

// MEDIA STYLE START
/* 768px - 1024px */
@media screen and (max-width: 1024px) {
  .hero {
    padding-top: 55px;
    margin-bottom: 5px;
  }
  .hero .hero__info .hero__title {
    font-size: 46px;
    line-height: 78px;
  }
  .hero .hero__info .hero__text {
    width: 90%;
  }
  .statistick {
    padding-top: 80px;
  }
  .statistick .cards .card .card__img {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .statistick .cards .card {
    text-align: center;
  }
  .statistick .cards .card:nth-child(2) {
    margin-top: 0;
  }
  .statistick .cards::after {
    display: none;
    width: 8px;
    height: 100%;
    top: 0;
    left: 25%;
  }
  .footer .end .container .footer-nav {
    gap: 55px;
  }
}

/* 480px - 768px */
@media screen and (max-width: 768px) {
  .container {
    text-align: center;
    .left .burger-btn {
      display: inline-flex;
      right: 25px;
    }
    .mobil-menu.active {
      display: flex;
      transform: translateY(0);
    }

    .mobil-menu {
      position: fixed;
      display: flex;
      margin: 0 auto;
      z-index: 9999;
      top: 80px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      height: 80%;
      background-color: #3a3054;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      transform: translateY(-150%);
      transition: 0.4s ease-in-out;
      .sitenav {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        .sitenav__list {
          display: flex;
          flex-direction: column;
          gap: 30px;
          & .sitenav__item a {
            color: #ffffff;
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            transition: 0.3s ease-in-out;
          }
          & .sitenav__item .sitenav__link {
            &:hover {
              color: $dColor;
            }
          }
        }
      }
      .line {
        width: 85%;
        height: 1px;
        background-color: #9e9aa8;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 32px;
      }
      .mobil__menu__btn {
        display: flex;
        flex-direction: column;
        a {
          width: 279px;
          height: 48px;
          margin: 0 auto;
          display: block;
          font-weight: 700;
          font-size: 18px;
          line-height: 27px;
          text-align: center;
          color: #ffffff;
          align-items: center;
        }
        .sign-up {
          text-decoration: none;
          font-weight: 700;
          font-size: 15px;
          line-height: 22px;
          color: #ffffff;
          background: $bColor;
          border-radius: 28px;
          padding: 12px 23px 9px 24px;
          transition: 0.3s ease-in-out;
          &:hover {
            background: #9ae3e3;
            border-radius: 28px;
            color: #ffffff;
          }
        }
      }
    }
  }

  .site-header .left .sitenav,
  .site-header .right {
    display: none;
  }
  .hero {
    margin-top: 20px;
    .container {
      flex-direction: column-reverse;
      .hero__info {
        margin-top: 20px;
        .hero__title {
          text-align: center;
          font-size: 42px;
          line-height: 60px;
          width: 327px;
          margin: 0 auto;
          padding-bottom: 15px;
        }
        .hero__text {
          text-align: center;
          margin: 0 auto;
          margin-bottom: 46px;
        }
        .hero__btn {
          margin-bottom: 10px;
        }
      }
    }
    .hero__img {
      width: 480px;
      height: 350px;
      margin-left: auto;
      margin-bottom: 37px;
      img {
        width: 100%;
      }
    }
  }
  .shorten .wrap form {
    flex-direction: column;
  }
  .shorten .wrap .container form .submit {
    width: 100%;
  }
  .shorten__link .shorten__list .shorten__list__item {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 15px;
    .line {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #9e9aa8;
    }
    .link {
      margin: 0;
    }
  }
  .statistick .cards {
    display: flex;
    justify-content: center;
    gap: 92px;
    flex-direction: column;
    &::after {
      display: block;
      left: 49.5%;
    }
    .card {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      &:last-child {
        margin-top: 0;
      }
    }
  }
  .end .container {
    flex-direction: column;
    .footer-logo {
      padding-bottom: 15px;
    }
    .footer-nav {
      flex-direction: column;
      .footer-nav {
        gap: 40px;
      }
      .menu {
        flex-direction: column;
        a {
          font-size: 16px;
        }
        .menu__title {
          padding-bottom: 10px;
        }
      }
      .icons {
        justify-content: center;
      }
    }
  }
}

/* 375px - 425px */
@media screen and (max-width: 425px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .site-header {
    padding-bottom: 23px;
  }
  .hero {
    padding-top: 0;
    & .hero__text {
      margin-bottom: 32px;
    }
  }
  .statistick {
    .statistick__title {
      font-size: 28px;
      padding-bottom: 16px;
    }
    .statistick__text {
      font-size: 16px;
      margin-bottom: 92px;
    }
    & .cards .card {
      width: 320px;
      & .card__text {
        font-size: 14px;
      }
    }
  }
  .footer .motto .motto__title {
    font-size: 28px;
  }
}

/* 320px - 375px */
@media screen and (max-width: 320px) {
}
// MEDIA STYLE END
